<div class="container mt-5 p-4">

  <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Formulario de registro</h2>

    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" formControlName="username">
    </div>

    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" formControlName="email">
      <div id="emailHelp" class="form-text text-danger">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-info mx-2">Register</button>

    <button [routerLink]="['/home']" type="button" class="btn btn-danger">Volver</button>

    <p *ngIf="alerta" class="mt-1 text-danger fw-bold">Usuario Registrado</p>

    <div>
      <button *ngIf="usuarioCreado" [routerLink]="['/login']" type="button" class="btn btn-success mt-4 mx-2">Ir al
        login</button>
    </div>
  </form>
</div>