.main {
  height: 300px;
  width: 300px;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.cardd {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-text {
  height: 60px;
}

.newlife {
  height: 300px;
  margin-bottom: 1rem;
}