<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-md">
    <img class="m-auto mb-5" src="../../assets/imgs/logo.png" alt="">
    <div class="d-flex ">
      <ul class="ul navbar-nav mb-2 mb-lg-0 d-flex flex-row  gap-1 m-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/categorias']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empresas']">Partners</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-secondary" [routerLink]="['/workwithus']">Work with us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>