<div class="container mt-5 p-4">
  <div class="cajaboton">
    <button class="btn btn-danger boton" [routerLink]="['/categorias']">ATRAS</button>
  </div>
  <div class="container d-flex flex-wrap gap-3">
    <div class="card p-3" style="width: 22rem;" *ngFor="let curso of listadoCursos">
      <img [src]="curso.img_url" class="img card-img-top" [alt]="curso.nombre">
      <div class="card-body">
        <h5 class="card-title">{{curso.nombre}}</h5>
        <p class="card-text">{{curso.descripcion}}
        </p>
      </div>
      <ul class="list-group text-center list-group-flush">
        <li class="p-1 list-group-item">{{curso.horarios}}</li>
        <li class="p-1 list-group-item">{{curso.precios}} <b>€</b></li>
      </ul>
      <button [routerLink]="['/cursos/curso/', curso.id]" class="btn btn-primary">Detalles</button>
    </div>

  </div>
</div>