<div class="container d-flex justify-content-center flex-wrap gap-2 p-4 pb-5 bg-secondary">
  <div class="container ">
    <div class="cajaboton d-flex justify-content-end ">
      <button class="btn btn-danger boton mb-5" [routerLink]="['/categorias']">ATRAS</button>
    </div>
  </div>
  <div class="cardd card text-center" style="width: 16rem;" *ngFor="let empresa of empresas">
    <img [src]="empresa.logo" class="card-img-top" alt="...">
    <div class="card-body ">
      <h2>{{empresa.name}}</h2>
      <p class="card-text ">{{empresa.website}}
      <p class="card-text">{{empresa.located_in}}

      </p>
      <button class="btn btn-secondary mb-2">{{empresa.email}}</button>
      <button class="btn btn-secondary">{{empresa.telefono}}</button>
    </div>

  </div>
</div>